@mixin author-badge {
  border-radius: var(--author-badge-border-radius);
  background: #{$background};
  color: #{$text-color};
  border: 1px solid var(--author-badge-border-color);
  font-size: 0.8em;
  padding: 0 0.5em;
  line-height: var(--line-height-large);
  @if $font_style == "bold" {
    font-weight: 600;
  } @else if $font_style == "italic" {
    font-style: italic;
  } @else if $font_style == "bold-italic" {
    font-weight: 600;
    font-style: italic;
  } @else {
    font-weight: normal;
    font-style: normal;
  }
}

@mixin below-user-avatar {
  @include author-badge;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
  padding: 0 0.25em;
  width: calc(var(--topic-avatar-width) + 3px);
  word-break: break-all;
  box-sizing: border-box;
  .mobile-view & {
    margin-top: 0.25em;
    font-size: var(--font-down-2);
  }
}

@mixin after-user-names {
  @include author-badge;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

@mixin below-user-names {
  @include author-badge;
}

@mixin above-user {
  @include author-badge;
  position: absolute;
  top: -1px;
  border-radius: 0 0 var(--author-badge-border-radius) var(--author-badge-border-radius);
  font-size: var(--font-down-2);
}
